$primary-green: #9cc27e;
$success-color: #28a745;
$primary-greey: #979797;
$secondary-greey: #747171;
$strawberry: #fc5a8d;
$strawberry-hover: #f76f9a;
$primary-blue: #007bff;
$secondary-blue: #0056b3;
$primary-yellow: #ffc107;
$secondary-yellow: #ffae00;

$main-bg: #d4dfea;
$border-color: #ccc;
$spiner-color: #3498db;
$primary-text-color: #fff;
$secondary-text-color: #212529;
$gainsboro: #ddd;
$cultured: #f5f5f5;
